body {
  font-family: Lato, "DM Sans", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  /*.search-filters {

      &-button {
          /*height: 70px;
          font-size: 1.1em;
          color: #ffffff;
          position: relative;
      }

      .color--primary {
          background-color: $color-primary;
      }

      .color--secondary {
          background-color: $color-secondary;
      }

      .color--tertiary {
          background-color: $color-tertiary
      }


      /*&-tags {
          /*display: none;
          z-index: 100;
      }

      &-dropdown {
          color: #ffffff;
          position: relative;
          left: 600;
          border: 3px solid;

      }

      &-tags {
          /*display: none;
          background-color: #3282F7;
          position: absolute;
          top: 0;
          width: 600px;
          z-index: 100;
      }

      form {

          input {
              width: 90%;
              height: 70px;
              text-indent: 20px;
              /*font-size: 1em;
              color: #ffffff;

              &:focus {
                  outline: none;
              }
          }

          .input__color--primary::placeholder {
              color: lighten($color-primary, 20%);
          }

          .input__color--secondary::placeholder {
              color: lighten($color-secondary, 20%);
          }

          .input__color--tertiary::placeholder {
              color: lighten($color-tertiary, 20%);
          }

          .fa-chevron-up {
              color: #ffffff;
          }

      }

      /*&-category {
          max-height: 400px;
          overflow-y: scroll;
      }
  }*/
}
body .search-bar-recipe {
  height: 70px;
}
body .search-bar-recipe input {
  height: 70px;
  text-indent: 20px;
  font-size: 1em;
  background-color: #E7E7E7;
}
body .search-bar-recipe input::placeholder {
  color: #c0c2c4;
}
body .search-bar-recipe .fa-magnifying-glass {
  top: 25px;
  right: 20px;
  font-size: 30px;
}
body .search-filters {
  /*&-category {
      max-height: 400px;
      overflow-y: scroll;
  }*/
}
body .search-filters-button {
  font-size: 1.1em;
  color: #ffffff;
}
body .search-filters .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
body .search-filters .accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
body .search-filters .color--primary {
  background-color: #3282F7;
}
body .search-filters .color--secondary {
  background-color: #68D9A4;
}
body .search-filters .color--tertiary {
  background-color: #ED6454;
}
body .search-filters-dropdown {
  color: #ffffff;
  border: none;
  /*position: relative;
  left: 600;*/
}
body .search-filters-tags {
  /*display: none;*/
  background-color: #3282F7;
  /*position: absolute;
  top: 0;*/
  width: 90%;
  z-index: 100;
}
body .search-filters form input {
  width: 90%;
  height: 70px;
  text-indent: 20px;
  /*font-size: 1em;*/
  color: #ffffff;
}
body .search-filters form input:focus {
  outline: none;
}
body .search-filters form .input__color--primary::placeholder {
  color: #94befb;
}
body .search-filters form .input__color--secondary::placeholder {
  color: #b9eed5;
}
body .search-filters form .input__color--tertiary::placeholder {
  color: #f7b8b0;
}
body .search-filters form .fa-chevron-up {
  color: #ffffff;
}
body .recipes-container .card {
  height: 365px;
}
body .recipes-container .card img {
  object-fit: cover;
}
body .recipes-container .card-recipe {
  font-size: 0.75em;
  background-color: #E7E7E7;
}
body .recipes-container .card-recipe-header-title {
  font-size: 1.6em;
}
body .recipes-container .card-recipe-header-time {
  font-size: 1.6em;
}
body .recipes-container .card-recipe-body-description {
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-family: Roboto, "DM Sans", sans-serif;
  line-height: 1.3;
}

/*# sourceMappingURL=style.css.map */
