body {
    font-family: Lato, "DM Sans", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;

    .search-bar {
        height: 70px;

        input {
            height: 70px;
            text-indent: 20px;
            font-size: 1em;
            background-color: #E7E7E7;

            &::placeholder {
                color: #c0c2c4;
            }
        }

        .fa-magnifying-glass {
            top: 25px;
            right: 20px;
            font-size: 30px;
        }
    }

    .search-filters-button {
        height: 70px;
        font-size: 1.1em;
        color: #ffffff;

        &__primary {
            background-color: #3282F7;
        }

        &__secondary {
            background-color: #68D9A4;
        }

        &__tertiary {
            background-color: #ED6454;
        }
    }

    .recipes-container {
        display: grid;
        grid-template-columns: repeat(3, 31%);
        justify-content: space-between;
        row-gap: 30px;

        .card {
            height: 365px;

            img {
                object-fit: cover;
            }

            &-recipe {
                font-size: 0.75em;
                background-color: #E7E7E7;

                &-header {
                    &-title {
                        font-size: 1.6em;
                    }

                    &-time {
                        font-size: 1.6em;

                    }
                }


                &-body {
                    /*overflow: hidden;*/
                    /*width: 100%;
                    white-space: nowrap;*/

                    &-description {
                        /*max-width: 90%;*/
                        overflow: hidden;
                        /*text-overflow: ellipsis;
                        white-space: nowrap;*/
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                        font-family: Roboto, "DM Sans", sans-serif;
                        line-height: 1.3;
                    }
                }
            }
        }

    }
}