$color-primary: #3282F7;
$color-secondary: #68D9A4;
$color-tertiary: #ED6454;


body {
    font-family: Lato, "DM Sans", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;

    .search-bar-recipe {
        height: 70px;

        input {
            height: 70px;
            text-indent: 20px;
            font-size: 1em;
            background-color: #E7E7E7;

            &::placeholder {
                color: #c0c2c4;
            }
        }

        .fa-magnifying-glass {
            top: 25px;
            right: 20px;
            font-size: 1.6em;
        }
    }

    .tags-section {

        .color--primary {
            background-color: $color-primary;
        }

        .color--secondary {
            background-color: $color-secondary;
        }

        .color--tertiary {
            background-color: $color-tertiary
        }

        .clicked-item-tag {
            font-size: 0.8em;

            .fa-circle-xmark {
                font-size: 1.4em;
            }
        }

        .search-filters {

            @media screen and (max-width: 542px) {
                flex-wrap: nowrap;
                flex-direction: column;
            }

            &-dropdown {
                margin-bottom: 15px;
            }

            &-button {
                width: 170px;
                height: 65px;
                font-size: 1.3em;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
            }

            .accordion-button.collapsed {
                width: 170px;
            }

            .accordion-button:not(.collapsed)::after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                transform: rotate(-180deg);
            }

            .accordion-button:not(.collapsed) {
                width: 700px;

                @media screen and (max-width: 1199px) {
                    width: 450px;
                }

                @media screen and (max-width: 880px) {
                    width: 356px;
                }

                @media screen and (max-width: 767px) {
                    width: 300px;
                }

            }

            .accordion-button.collapsed::after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }


            &-tags {
                width: 700px;
                z-index: 10;
                max-height: 500px;

                @media screen and (max-width: 1199px) {
                    width: 450px;
                }

                @media screen and (max-width: 880px) {
                    width: 356px;
                }

                @media screen and (max-width: 767px) {
                    width: 300px;
                }

                .item-filtered {
                    font-size: 1.2em;

                    @media screen and (max-width: 1199px) {
                        font-size: 1.1em;
                    }

                    @media screen and (max-width: 880px) {
                        font-size: 1em;
                    }

                    @media screen and (max-width: 767px) {
                        font-size: 0.9em;
                    }

                }
            }

            form {

                input {

                    width: 90%;
                    height: 70px;
                    text-indent: 20px;

                    &:focus {
                        outline: none;
                    }
                }

                .input__color--primary::placeholder {
                    color: lighten($color-primary, 20%);
                }

                .input__color--secondary::placeholder {
                    color: lighten($color-secondary, 20%);
                }

                .input__color--tertiary::placeholder {
                    color: lighten($color-tertiary, 20%);
                }

                .fa-chevron-up {
                    font-size: 1.2em;
                }

            }
        }
    }

    .recipes-container {

        .card {
            height: 365px;

            img {
                object-fit: cover;
            }

            &-recipe {
                font-size: 0.75em;
                background-color: #E7E7E7;

                &-header-title,
                &-header-time {
                    font-size: 1.6em;

                    @media screen and (max-width: 360px) {
                        font-size: 1.3em;
                    }
                }


                &-body-ingredients,
                &-body-description {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    font-family: Roboto, "DM Sans", sans-serif;
                    line-height: 1.3;

                    @media screen and (max-width: 360px) {
                        -webkit-line-clamp: 5;
                    }
                }
            }
        }
    }
}


.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}