$color-primary: #3282F7;
$color-secondary: #68D9A4;
$color-tertiary: #ED6454;

body {
    font-family: Lato, "DM Sans", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;

    .search-bar-recipe {
        height: 70px;

        input {
            height: 70px;
            text-indent: 20px;
            font-size: 1em;
            background-color: #E7E7E7;

            &::placeholder {
                color: #c0c2c4;
            }
        }

        .fa-magnifying-glass {
            top: 25px;
            right: 20px;
            font-size: 30px;
        }
    }

    .search-filters {

        &-button {
            height: 70px;
            font-size: 1.1em;
            color: #ffffff;
            position: relative;
        }

        .color--primary {
            background-color: $color-primary;
        }

        .color--secondary {
            background-color: $color-secondary;
        }

        .color--tertiary {
            background-color: $color-tertiary
        }

        /*&-dropdown {
            color: #ffffff;
        }

        &-tags {
            /*display: none;
            z-index: 100;
        }*/

        &-dropdown {
            color: #ffffff;
            position: relative;

        }

        &-tags {
            /*display: none;*/
            background-color: #3282F7;
            position: absolute;
            top: 0;
            width: 600px;
            z-index: 100;
        }

        form {

            input {
                width: 90%;
                height: 70px;
                text-indent: 20px;
                /*font-size: 1em;*/
                color: #ffffff;

                &:focus {
                    outline: none;
                }
            }

            .input__color--primary::placeholder {
                color: lighten($color-primary, 20%);
            }

            .input__color--secondary::placeholder {
                color: lighten($color-secondary, 20%);
            }

            .input__color--tertiary::placeholder {
                color: lighten($color-tertiary, 20%);
            }

            .fa-chevron-up {
                color: #ffffff;
            }

        }

        /*&-category {
            max-height: 400px;
            overflow-y: scroll;
        }*/
    }


    .recipes-container {

        .card {
            height: 365px;

            img {
                object-fit: cover;
            }

            &-recipe {
                font-size: 0.75em;
                background-color: #E7E7E7;

                &-header {
                    &-title {
                        font-size: 1.6em;
                    }

                    &-time {
                        font-size: 1.6em;
                    }
                }

                &-body {

                    &-description {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        /*white-space: nowrap;*/
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                        font-family: Roboto, "DM Sans", sans-serif;
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}